html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #E1E4E9;
  overflow-x: auto;
}

.header {
  width: 100%;
  min-width: 1160px;
  position: relative;
  height: 70px;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
}

.header-content {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-wrapper {
  width: 82px;
  height: 40px;
}

.logo {
  width: 82px;
  height: 42px;
  cursor: pointer;
}

.user-panel {
  position: relative; 
  display: flex;
  align-items: center;
  gap: 30px;
}

.bell-wrapper {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.bell-icon {
  width: 18px;
  height: 21px;
}

.bell-menu {
  position: absolute;
  top: 70px;
  right: 0;
  background: white;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
  width: 240px;
  height: 300px;
  z-index: 10;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400px;
}

.bell-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.avatar-wrapper {
  position: relative;
  cursor: pointer;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.avatar-menu {
  position: absolute;
  top: 70px;
  right: 0;
  background: white;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
  width: 160px;
  z-index: 10;
  overflow: hidden;
}

.avatar-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.avatar-menu ul li {
  cursor: pointer;
}

.avatar-menu ul li:hover {
  background: #EEEDED;
}

.avatar-text {
  text-decoration: none;
  color: black;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar-text p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400px;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 70px;
  padding: 0;
  margin: 0;
}

.nav ul li a {
  color: black;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 15px;
}

.nav ul li a:hover {
  color: #3496B5;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1160px;
}

.profile-content {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 20px 0 100px 0;
  min-height: 100vh;
}

.left-panel {
  width: 200px;
  height: 640px;
  border-radius: 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.left-panel ul {
  list-style: none;
  padding: 0;
}

.left-panel ul li {
  margin: 0;
}

.left-panel ul li a {
  text-decoration: none;
}

.left-panel ul li p {
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.menu-list {
  margin: 0;
}

.support-list {
  margin: 0;
}

.menu-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  height: 40px;
  margin: 0 10px;
  border-radius: 10px;
}

.menu-link:hover {
  background-color: #EEEDED;
  width: 180px;
}

.menu-icon-wrapper {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.main-profile-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.profile-block {
  width: 940px;
  height: 320px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-change {
  margin: 0;
  padding: 15px 20px 0 0;
}

.change-text {
  text-decoration: underline;
  cursor: pointer;
}

.profile-elements {
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding: 40px 0 0 40px;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.profile-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
  padding-bottom: 40px;
}

.main-information {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.information {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.name-left {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 15px;
  width: 120px;
}

.name-right p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  width: 112px;
}

.full-name {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.full-name h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin: 0;
}

.other-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
}

.other-content h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 15px;
  margin: 0;
}

.other-content p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.other-block {
  width: 460px;
  height: 140px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.other-wrapper {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
}

.director-image {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-left: 30px;
}

.other-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.profile-footer {
  width: 100%;
  min-width: 1160px;
  position: relative;
  height: 70px;
  background-color: #9B9999;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-networks {
  display: flex;
  gap: 20px;
}

.social-icon {
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}
